/*section 1 start*/
.section-1-img {
	width: 1000px;
	height: 400px;

	object-fit: cover;
}
/*section 1 end*/

/*section 2 start*/
.section-2-container {
	background-image: url("../images/photographer.jpg");
	height: 500px;
	width: 500px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section-2-title {
	font-size: 32px;
	color: #ffffff;
}
/*section 2 end*/

/*section 3 start*/
.section-3-p {
	display: inline-block;
	vertical-align: middle;
}

.section-3-p::first-letter {
	font-size: 22px;
	color: red;
}

.smiley::after {
	content: url("https://www.w3schools.com/css/smiley.gif");
	margin: 0 20px;
	vertical-align: middle;
}

.line::after {
	content: "";
	width: 2px;
	height: 26px;
	background-color: blue;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 15px;
}

.entity::after {
	content: " \2705";
}

/*section 3 end*/

/*section 4 start*/
.section-4 {
	background-color: lightgray;
	padding: 50px 0;
	margin: 50px 0;
}

.section-4-container {
	width: 1170px;
	/*height: 500px;*/
	margin: 0 auto;
	border: 1px solid black;

	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.box-1 {
	width: 200px;
	height: 50px;
	background-color: yellow;
}

.box-2 {
	width: 200px;
	height: 300px;
	background-color: green;

}

.box-3 {
	width: 200px;
	height: 200px;
	background-color: red;

}

.box-4 {
	width: 200px;
	height: 100px;
	background-color: blue;
}
/*section 4 end*/

/*section 5 start*/

.section-5-wrapper {
	width: 1000px;
	height: 700px;
	background-color: black;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

.new-box {
	width: 200px;
	height: 200px;
	background-color: green;
}
/*section 5 end*/

/*section 6 start*/
.section-6-container {
	width: 1160px;
	margin: 0 auto;
}

.images-wraper {
	display: flex;
	justify-content: space-between;
}

.section-6-img {
	width: 360px;
	box-shadow: -1px 16px 23px -1px rgba(251,186,119,0.75);
	-webkit-box-shadow: -1px 16px 23px -1px rgba(251,186,119,0.75);
	-moz-box-shadow: -1px 16px 23px -1px rgba(251,186,119,0.75);
}

.section-6-img > img {
	width: 100%;
}
/*section 6 end*/